<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Social Media Aggregator</title>
    <style>
        ul {
            padding: 0;
        }

        ul li {
            display: inline;
        }

        ul li a {
            background-color: black;
            color: white;
            padding: 10px 20px;
            text-decoration: none;
            border-radius: 4px 4px 0 0;
        }

        ul li a:hover {
            background-color: orange;
        }
    </style>
</head>
<body>
    <center>
        <h1>Social Media Aggregator</h1>
        </br>
        <h2>Facebook</h2>
        <ul>
            <li><a href="/pages">All Pages</a></li>
            <li><a href="/best_posts">Best Posts</a></li>
            <li><a href="/best_posts_by_date?date={{date}}">Best Posts By Date</a></li>
            <li><a href="/recent_posts">Recent Posts</a></li>
        </ul>
        </br>
        <h2>Instagram</h2>
        <ul>
            <li><a href="/insta_users">Instagram users</a></li>
            <li><a href="/best_photos">Best Photos</a></li>
            <li><a href="/best_photos_by_date?date={{date}}">Best Photos By Date</a></li>
            <li><a href="/recent_photos">Recent Photos</a></li>
        </ul>
        </br>
        </br>

        <h3>Welcome to Social Media Aggregator!</h3>
        <p>
            Social Media Aggregator website can aggregate lots of information from Facebook, Instagram and Twitter!
        </p>
        </br>
        <img height="25%" width="25%" src="https://vtank98.files.wordpress.com/2015/04/someicons.png">
    </center>
</body>
</html>