<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Social Media Aggregator</title>
</head>
<body>
    <h1>Instagram UsersPages</h1>

    </br>
    </br>

    <form action="/add_insta_user" method="post">
        User name: <input name="user_name" type="text" />
        <input value="Add!" type="submit" />
    </form>

    </br>
    </br>
    </br>

    %for user in user_list:
        <li>
            Empty
            </br>
            </br>
            </br>
        </li>
    %end
</body>
</html>